body {
font-size: 16px;
font-family: 'Ubuntu', sans-serif;
color: #201b2d;
margin: 0;
padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	margin: 0;
}
div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}
p{
	line-height: 1.45em;
}
.header{
background: rgb(77,191,254);
background: -moz-linear-gradient(137deg, rgba(77,191,254,1) 0%, rgba(55,143,217,1) 100%);
background: -webkit-linear-gradient(137deg, rgba(77,191,254,1) 0%, rgba(55,143,217,1) 100%);
background: linear-gradient(137deg, rgba(77,191,254,1) 0%, rgba(55,143,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4dbffe",endColorstr="#378fd9",GradientType=1);
padding-top: 70px;
padding-bottom: 135px;
}
.conteiner {
	width: 1170px;
	margin: 0 auto;
}
.wrapper{
	display: flex;
	justify-content: space-between;
}
.offer {
	width: 500px;
	color: #fff;
	padding-top: 145px;
}
.title {
	font-size: 30px;
}
.title span {
	font-size: 59px;
}

.intro {
	width: 400px;
	margin-top: 40px;
	margin-bottom: 35px;
}
.desktop {
	padding-top: 70px;
}
.btn {
	background: #ffd429;
	text-decoration: none;
	text-align: center;
	width: 220px;
	padding: 20px 0;
	display: block;
	color: #2e2a1b;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}
.btn:hover {
	background: #ebbe0d;
}
.dream-time{
	margin-top: 100px;
	margin-bottom: 125px;
	text-align: center;
}
.section-title{
	font-size: 30px;
}
.dreams {
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}
.dream{
	width: 285px;
	
}
.dream-title {
	font-size: 19px;
	margin-top: 12px;
}
.dream-text {
	font-size: 15px;
}
.dream-dream{
	width: 270px;
}

.mail{
	background: #ecf3f8;
	text-align: center;
	padding-bottom: 100px;
	padding-top: 100px;
}

input{
	display: block;
	margin: 18px 410px 18px;
	width: 340px;
	font-size: 15px;
	color: #85828c;
	border: 1px solid #bbbbbb;
	height: 48px;
	padding-left: 28px;


}
.title-form {
	padding-bottom: 65px;
}

.btn-form {
	margin: 18px 410px 18px;
	width: 340px;
	height: 48px;
	cursor: pointer;
	border: 0;
}

.footer{
	background: #164d7a;
	padding-top: 62px;
	padding-bottom: 65px;
	
}

	.credits {
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	}
	.red {
	color: #fcf;

}




@media screen and (max-width:1200px) {
	.conteiner {
		width: 960px;
	}
	
}

@media screen and (max-width:992px) {
	.conteiner {
		width: 720px;
	}
	.offer {
		width: 100%;
	}
	.intro {
		width: auto;
	}
	.dekstop {
		display: block;
		width: 500px;
		margin: 32px auto 0;
	}
	.wrapper {
		flex-direction: column;
	}
	.dreams {
		flex-direction: column;
	}
	.dream {
		width: auto;
		margin-bottom: 30px;
	
	}
	input, .btn-form {
		width: 100%;
		margin: 10px 5px;
	
	}

	 	
}
@media screen and (max-width:768px) {
	.conteiner {
		width: 540px;
	}
}
@media screen and (max-width:576px) {
	.conteiner {
		width: 90%;
	}
	.dekstop {
		width: 80%;
	}
	.offer {
		padding-top: 40px;
	}
	.header {
		padding-bottom: 45px;
	}
	.dream-time {
    margin-top: 40px;
    margin-bottom: 45px;
	}
.mail {
    padding-bottom: 40px;
    padding-top: 40px;
	}
	.footer {
    padding-top: 7px;
    padding-bottom: 8px;
}
	